{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authorization</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap" />
    <script type="module" crossorigin src="{% static 'js/auth.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
